.sign_up_wrapper{
  min-height: 100dvh;
  min-width: 100dvw;
  height: 100%;
  width: 100%;
}
.sign_up_form{
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  min-height: 100dvh;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}
.form_title{
  padding-bottom: 10px;
  font-size: 20px;
  color: black;
}
.form input{
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: 0;
  background: #EFEFEF;
}
.form input::placeholder{
  color: black;
  font-size: 20px;
}
.form button{
  border: 1px solid;
  padding: 12px;
  width: 30%;
  margin: 0 auto;
  background: #B0C5A9;
}
.form_another_block{
  display: flex;
  flex-direction: column;
}
.form a{
  color: rgb(39, 60, 124);
  font-size: 19px;
  text-decoration: none;
}
.form img{
  max-width: 200px;
  margin: 0 auto;
}