.chatscontent{
	display: flex;

	width: 100vw;
	height: 100vh;

	flex-direction: row;
}

.chatscontent__chats {
	width: 20%;
}

.chatscontent__chatmessages {
	width: 80%;
}

.chat_block{
	display: flex;


	padding: 5px;
	box-sizing: border-box;

	width: 100%;

	gap: 10px;

	background: linear-gradient(104deg, rgba(46,44,46,1) 0%, rgb(56, 54, 56) 136px);

	border-radius: 12px;
	border: 1px solid rgb(56, 56, 56);

	cursor: pointer;
}

.block img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.infocolumn{
	display: flex;

	width: 100%;

	flex-direction: column;
	gap: 6px;
}

.title{
	color: #c225d6;


	background-color: #53125c;
	border-radius: 12px;

	padding-left: 12px;

	font-size: 1.25rem;
}

.lastmessage{
	color: #c7c7c7;

	background-color: #494747;
	border-radius: 12px;

	padding-left: 12px;

	font-size: 1rem;
}

.chatscontent__chatmessages {
	display: flex;

	height: 100%;

	flex-direction: column;

	padding: 6px;

	box-sizing: border-box;

	background-color: #0000001f;
}

.messages {
	display: flex;
	flex-direction: column;

	padding-top: 4px;

	box-sizing: border-box;

	gap: 16px;
}

.messagewrapper {
}

.message {
	padding: 4px;
	border-radius: 6px;
}

.message-me {
	background-color: #751175;
}

.message-another {
	background-color: #1a1414;
}