.chatscontent{
	display: flex;

	width: 100vw;
	height: 100vh;

	flex-direction: row;
}

.chatscontent__chats {
	display: flex;
	position: relative;

	width: 20%;

	flex-direction: column;

}

.chatscontent__chats-manage {
	display: flex;

	width: 100%;
	height: 46px;

	background-color: #000000;
}

.chatscontent__chat-search{
	width: 100%;
	font-size: 20px;
	background: 0;
	outline: 0;
	border: 0;
	border-bottom: 1px solid gray;
	padding: 10px;
}

.searchblock_list{
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.searchblock_list-button{
	padding: 10px;
	background: 0;
	border: 0;
}

.searchblock_list-item{
	font-size: 17px;
}

.chatscontent__chats-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.chatscontent__chats-manage > button {
	background-color: #00000000;

	border: 0;
	border-radius: 6px;

	cursor: pointer;
}

.chatscontent__chats-manage > button > img{
	width: 40px;
	border-radius: 6px;
}

.chatblock{
	display: flex;

	padding: 5px;
	box-sizing: border-box;

	width: 100%;

	gap: 10px;

	background: rgba(46,44,46,1);

	border-radius: 8px;
	transition: 200ms;

	cursor: pointer;
}

.chatblock:hover{
	background: rgb(70, 69, 70);
}

.chatblock-current {
	background: #7b0c85;
}

.chatblock-current:hover{
	background: #7b0c85;
}

.chatblock-current .title{
	background: #650b6d;
}

.chatblock-current .title > span{
	color: #ea00ff;
}

.chatblock-current .lastmessage{
	color: #ffffff;
}

.block img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.infocolumn{
	display: flex;

	width: 100%;

	flex-direction: column;
	gap: 6px;
}

.title {
	color: #ffffff;

	max-width: calc(100% - 92px);
	box-sizing: border-box;
	text-overflow: ellipsis;
	
	overflow: hidden;

	background-color: #363636;
	border-radius: 12px;

	padding-left: 6px;

	font-size: 1.4rem;
}

.lastmessage{
	color: #929292;

	max-width: calc(100% - 92px);
	box-sizing: border-box;
	text-overflow: ellipsis;
	
	overflow: hidden;

	font-size: 0.9rem;
}

.modalCreatechat {
	position: fixed;
	display: none;

	width: 500px;
	height: 500px;

	background-color: #363636;

	flex-direction: column;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 6px;

	z-index: 6;
}

.modalCreatechat-show {
	display: flex;
}

.modalCreatechat__title {
	width: 100%;
	height: 30px;
}

.modalCreatechat__title > button{
	width: 30px;

	background-color: #00000000;
	border: 0;

	cursor: pointer;

	border-radius: 6px;
}

.modalCreatechat__title > button > img{
	width: 30px;

	border-radius: 6px;
}

.modalCreatechat__inputs {
	display: flex;

	justify-content: center;

	width: 100%;
}

.modalCreatechat__inputs > input {
	padding: 4px;
	padding-left: 8px;
	border-radius: 50px;

	background-color: #383838;

	color: white;
}

.modalCreatechat__createbutton {
	position: absolute;

	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.modalCreatechat__createbutton > button{
	padding: 6px 12px;
	border: 0;

	border-radius: 6px;

	cursor: pointer;

	background-color: #870f92;
}