.chatscontent{
	display: flex;

	width: 100vw;
	height: 100vh;

	flex-direction: row;
}

.chatscontent__chats {
	display: flex;
	position: relative;

	width: 20%;

	flex-direction: column;

}

.chatscontent__chats-manage {
	display: flex;

	width: 100%;
	height: 46px;

	background-color: #000000;
}

.chatscontent__chats-list {
	display: flex;

	flex-direction: column;
}

.chatscontent__chats-manage > button {
	background-color: #00000000;

	border: 0;
	border-radius: 6px;

	cursor: pointer;
}

.chatscontent__chats-manage > button > img{
	width: 40px;
	border-radius: 6px;
}

.chatscontent__chats-sidebar-manage {
	display: flex;

	width: 100%;
	height: 46px;

	flex-direction: row;
	justify-content: space-between;

	align-items: center;

	background-color: #252525;
}

.chatscontent__chats-sidebar-manage > span {
	transform: translate(-50%);
}

.chatscontent__chats-sidebar-manage > button {
	background-color: #00000000;

	border: 0;
	border-radius: 6px;

	cursor: pointer;
}

.chatscontent__chats-sidebar-manage > button > img{
	width: 40px;
	border-radius: 6px;
}

.chatscontent__chats-sidebar-actions {
	display: flex;

	width: 100%;

	background-color: #ad6868;
}

.chatscontent__chats-sidebar-actions > *{
	height: 40px;
	width: 100%;

	background-color: #363636;

	border: 0;

	cursor: pointer;
}

.chatscontent__chats-sidebar {
	display: flex;
	position: absolute;

	z-index: 2;

	width: 100%;
	height: 100%;

	transform: translate(-100%, 0%);
	transition: 300ms;

	flex-direction: column;

	background-color: #000000;
}

.chatscontent__chatmessages {
	width: 80%;
}

.chatblock{
	display: flex;

	padding: 5px;
	box-sizing: border-box;

	width: 100%;

	gap: 10px;

	background: rgba(46,44,46,1);

	border: 1px solid rgb(36, 36, 36);
	transition: 200ms;

	cursor: pointer;
}

.chatblock:hover{
	background: rgb(70, 69, 70);
}

.chatblock-current {
	background: #870f92;
}

.chatblock-current:hover{
	background: #870f92;
}


.block img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.infocolumn{
	display: flex;

	width: 100%;

	flex-direction: column;
	gap: 6px;
}

.title{
	color: #c225d6;


	background-color: #53125c;
	border-radius: 12px;

	padding-left: 12px;

	font-size: 1.25rem;
}

.lastmessage{
	color: #c7c7c7;

	background-color: #494747;
	border-radius: 12px;

	padding-left: 12px;

	font-size: 1rem;
}

.chatscontent__chatmessages {
	display: flex;

	height: 100%;

	flex-direction: column;
	justify-content: space-between;

	padding: 6px;

	box-sizing: border-box;

	background-color: #0000001f;
}

/* .messageswrapper {
    overflow: auto;
	width: 100%;
	height: 100%;
} */

.messages {
	width: 100%;
	height: 100%;

	padding-bottom: 10px;

	box-sizing: border-box;
	scroll-behavior: smooth;

	scrollbar-width: thin;
	scrollbar-color: #751175 rgba(37, 2, 33, 0.377);

	overflow-y: auto;
}

.messagewrapper {
	max-width: 400px;
	white-space: normal;
	word-wrap: break-word;
	background-color: #751175;

	padding: 4px;
	margin-top: 4px;

	border-radius: 6px;
}

.messagewrapper-another {
	max-width: 400px;
	white-space:normal;
	word-wrap: break-word;

	background-color: #1d1b1d;

	padding: 4px;
	margin-top: 4px;

	border-radius: 6px;
}

.inputmessage {
	width: 100%;
	height: 30px;
}

.inputmessage > input {
	padding-left: 6px;
	box-sizing: border-box;

	background-color: #1e0a20;
	border: 0px;

	width: 100%;
	height: 100%;
}

.modalCreatechat {
	position: fixed;
	display: none;

	width: 500px;
	height: 500px;

	background-color: #363636;

	flex-direction: column;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 6px;

	z-index: 6;
}

.modalCreatechat-show {
	display: flex;
}

.modalCreatechat__title {
	width: 100%;
	height: 30px;
}

.modalCreatechat__title > button{
	width: 30px;

	background-color: #00000000;
	border: 0;

	cursor: pointer;

	border-radius: 6px;
}

.modalCreatechat__title > button > img{
	width: 30px;

	border-radius: 6px;
}

.modalCreatechat__inputs {
	display: flex;

	justify-content: center;

	width: 100%;
}

.modalCreatechat__inputs > input {
	padding: 4px;
	padding-left: 8px;
	border-radius: 50px;

	background-color: #383838;

	color: white;
}

.modalCreatechat__createbutton {
	position: absolute;

	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.modalCreatechat__createbutton > button{
	padding: 6px 12px;
	border: 0;

	border-radius: 6px;

	cursor: pointer;

	background-color: #870f92;
}